appdirs==1.4.3
attrs==19.3.0
autopep8==1.5
black==19.10b0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
future==0.18.2
imageio==2.8.0
joblib==0.14.1
kiwisolver==1.1.0
labelImg==1.8.3
lxml==4.5.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.2
opencv-contrib-python==3.4.2.16
pandas==1.0.3
pathspec==0.8.0
Pillow==7.0.0
pycodestyle==2.5.0
pyparsing==2.4.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
regex==2020.4.4
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
toml==0.10.0
torch==1.4.0
torchvision==0.5.0
typed-ast==1.4.1
